<h1>Sign Up Confirmation</h1>
<div class="row">
  <div class="col-md-4">
    <h2>Are you sure these values are correct?</h2>
    <h4>Email: <%= @user.email %></h4>
    <h4>Name: <%= @user.name %></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= button_to "Yes", {controller: "users", action: "create", params: params}, class: 'btn btn-success' %>
  </div>
  <div class="col-md-4">
    <%= button_to "No", {controller: "users", action: "new"}, class: 'btn btn-danger', :method => :get %>
  </div>
</div>
